<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>655093028942-kqhnk4pifp2f3vjlppkehtl03u57ji7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655093028942-kqhnk4pifp2f3vjlppkehtl03u57ji7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCA4T6SV5Ac5UUYgOjQJMMF71lK6qtrJLo</string>
	<key>GCM_SENDER_ID</key>
	<string>655093028942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pictureposter</string>
	<key>PROJECT_ID</key>
	<string>pictureposter-fefb5</string>
	<key>STORAGE_BUCKET</key>
	<string>pictureposter-fefb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655093028942:ios:3b977bdbd1545114</string>
	<key>DATABASE_URL</key>
	<string>https://pictureposter-fefb5.firebaseio.com</string>
</dict>
</plist>